html {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #263B45;
	height: 100%;
	color: #FFF;
	box-sizing: border-box;
}

.button {
  display: inline-block;
  margin: 0 10px;
  height: 26px;
  width: 160px;
  padding: 0 6px;
  color: #242424;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #638270;
  border-radius: 4px;
  border: 1px solid #242424;
  cursor: pointer;
}

.button:hover {
  color: #333;
  border-color: #888;
}

/* Choice Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#choice {
	max-width: 100%;
	text-align: center;
	padding: 0;
}

#choice ul {
	margin: 20px 0;
	list-style: none;
	padding: 0;
}

#choice ul li {
	display: inline-block;
	padding: 6px;
	max-height: 72px;
		max-width: 72px;
}

#choice ul li img {
	vertical-align: middle;
}

#choice img {
	max-height: 72px;
	max-width: 72px;
}

.selected {
/*  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;*/
  border: 1px solid #242424;
	border-radius: 100px;
	background-color: #638270;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header {
	margin: auto;
	display: inline-block;
	text-align: center;
	padding-bottom: 50px;
	/*height: 235px;*/
	width: 100%;
	background-color: #0C2538;
	/* 50% black box shadow */
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header img {
	display: block;
	margin: 20px auto 20px auto;
	max-width: 80%;
}

/* Gameplay Window
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#gameplay {
	background-color: #0C2538;
	height: 320px;
	max-width: 80%;
	margin: auto;
	padding: 10px;
	position: relative;
	text-align: center;
	border: 10px solid #BCC98E;
	border-radius: 10px;
	/* 50% black box shadow */
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#gameplay h1, h2 {
	font-size: 1.25em;
}
#gameplay ul img:hover {
	/* 50% black box shadow */
	border-radius: 100px;
	-webkit-box-shadow: 0 0 50px 6px rgba(99, 130, 112, 0.75);
	-moz-box-shadow: 0 0 50px 6px rgba(99, 130, 112, 0.75);
	box-shadow: 0 0 50px 6px rgba(99, 130, 112, 0.75);
}

/*ICONS*/

#reset {
	margin: 10px;
	display: inline-block;
	text-align: center;
	height: 26px;
	width: 100%;
}


/* How to Play Lightbox Overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	margin-top: 160px;
	border: 40px solid #242424;
	max-width: 75%;
	max-height: 75%;
	border-radius: 10px;
}

/* Score Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#score {
	margin: 0;
	text-align: center;
	height: 180px;
	width: 100%;
	position: relative;
	background-color: transparent;
}

.wins, .losses {
	background-color: #638270;
	color: #242424;
	position: relative;
	top: -60px;
	max-height: 140px;
	max-width: 200px;
	text-align: center;
	/* 50% black box shadow */
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wins {
	float: left;
	position: relative;
	background-color: #BCC98E;
	left: 0;
	bottom: 0;
	top: auto;
	height: 68px;
	width: 50%;
	text-align: center;
	box-shadow: none;
}

.wins h1 {
	margin: 8px 0;
	background-color: #638270;
	font-size: 1.2em;
}

.wins h2 {
	margin: 8px 0;
	font-size: 1.2em;
}

.losses {
	float: right;
	position: relative;
	background-color: #BCC98E;
	right: 0;
	bottom: 0;
	top: auto;
	height: 68px;
	width: 50%;
	text-align: center;
	box-shadow: none;
	border-radius: 0;
}

.losses h1 {
	margin: 8px 0;
	background-color: #638270;
	font-size: 1.2em;
}

.losses h2 {
	margin: 8px 0;
	font-size: 1.2em;
}

.outcome {
	text-align: center;
	margin: 10px;
	font-size: 12px;
}

/* About Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about-wrapper {
	text-align: center;
}

#about-text {
	display: inline-block;
	max-width: 70%;
	background-color: #0C2538;
	margin: 10px auto;
	padding: 30px;
	position: relative;
	line-height: 1.5;
	text-align: center;
	border: 10px solid #BCC98E;
	border-radius: 10px;
	/* 50% black box shadow */
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#about-text a {
	color: #BCC98E;
	font-weight: bold;
	text-decoration: none;
}


/*MEDIA QUERIES*/

@media (min-width: 1025px) {

	#choice {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#choice li {
		margin: 20px 30px 10px 30px;

	}


	#choice img {
		max-width: 90px;
		max-height: 90px;


	}

	#gameplay {
		max-width: 75%;
	}

	#gameplay h2 {
		padding-top: 35px;
		padding-bottom: -15px;
		margin-bottom: -15px;
	}

	.outcome {
		padding-bottom: 15px;
		margin-top: 0;

	}

}





